/*reset*/
/* line 5, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_reset.scss */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  border: 0;
  offset: 0;
  vertical-align: baseline;
  list-style: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 2, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
html {
  font-size: 62.5%;
}

/* line 5, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
body {
  font-family: "Open sans", helvetica, arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  color: #222222;
}

/* line 12, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
p {
  margin-bottom: 1.3rem;
}

/* line 18, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

/* line 24, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
h1 {
  margin-top: 0;
  font-size: 5.99638rem;
}

/* line 29, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
h2 {
  font-size: 4.24072rem;
}

/* line 33, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
h3 {
  font-size: 2.99909rem;
}

/* line 37, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
h4 {
  font-size: 2.121rem;
}

/* line 41, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
small, .font_small {
  font-size: 0.707em;
}

/* line 46, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
blockquote {
  padding: 10px 15px;
  font-style: italic;
  border-left: 5px solid #222;
}

/* line 56, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
a {
  color: #333333;
}

/* line 60, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
a:hover {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid;
}

/* line 67, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
::selection {
  background-color: #3a8ee2;
  color: #fff;
}

/* line 72, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_typography.scss */
::-moz-selection {
  background-color: #3a8ee2;
  color: #fff;
}

/*****STYLE GUIDE STARTS HERE*****/
/*COLOURS*/
/* line 5, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.color-block {
  display: inline-block;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  width: 160px;
  height: 160px;
  margin: 0 5px 10px 0;
  padding: 5px;
  color: #fff;
}

/* line 16, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
#color1 {
  background-color: #3A8EE2;
}

/* line 20, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
#color2 {
  background-color: #ddd;
}

/* line 24, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
#color3 {
  background-color: #222;
}

/*IMAGES*/
/* line 30, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
img {
  width: 100%;
}

/* line 34, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
img.thumbnail {
  width: 33.333%;
  display: inline-block;
  padding: 0 10px 10px 0;
}

/*LISTS*/
/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
ul.list,
ul.list > li {
  list-style-type: disc!important;
  list-style-position: outside;
  margin-left: 20px;
}

/* line 52, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
ol.list,
ol.list > li {
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 20px;
}

/*FORMS*/
/* line 60, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset {
  margin: 0 0 25px 0;
  font-size: inherit;
}

/* line 65, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset.form-actions {
  margin: 0;
}

/* line 69, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset label {
  display: block;
  margin: 0 0 5px 0;
  font-weight: bold;
}

/* line 75, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset.check label {
  display: inline;
  font-weight: normal;
}

/* line 80, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset.radio ul li label {
  display: inline;
  font-weight: normal;
}

/* line 87, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset input.form-text,
form fieldset textarea,
form fieldset select {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  display: block;
  width: 100%;
  max-width: 320px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  background: #FFF;
  border-radius: 0;
}

/* line 100, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset input.form-text:focus,
form fieldset textarea:focus {
  border: 2px solid #3A8EE2;
  background: #fff;
  outline: none;
}

/* line 106, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset textarea {
  height: 200px;
  resize: vertical;
}

/* line 111, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset.radio ul {
  margin-top: 5px;
}

/* line 115, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset.radio ul li {
  margin: 0 0 5px 0;
}

/* line 119, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset.radio ul li:last-child {
  margin: 0;
}

/* line 123, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset p.form-help {
  margin: 5px 0 0 0;
  font-size: 12px;
  color: #aaa;
}

/*ERROR*/
/* line 132, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset input.error,
form fieldset select.error {
  border: 2px solid #FF4500;
}

/* line 136, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset p.form-help.error {
  color: #FF4500;
}

/*SEARCH*/
/* line 142, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset input.search {
  border: 2px solid #222;
  display: inline-block;
}

/* line 147, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset input[type="submit"] {
  display: inline-block;
  color: #fff;
  background-color: #222;
  padding: 11px 13px 12px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin-left: -4px;
}

/* line 158, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
form fieldset input[type="submit"]:hover {
  cursor: pointer;
  background-color: #3A8EE2;
}

/*BUTTONS*/
/* line 165, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 25px;
  background-color: #ddd;
}

/* line 173, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #3A8EE2;
}

/* line 180, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.button:active,
.button:focus {
  outline: none;
}

/* line 184, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.button:active {
  background-color: #225587;
}

/* line 188, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.primary {
  color: #fff;
  background-color: #222;
}

/* line 193, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.disabled {
  opacity: 0.4;
}

/* line 197, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.disabled:hover {
  background-color: #ddd;
  color: #222;
  cursor: default;
}

/*TABS*/
/* line 206, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.tabs li {
  float: left;
  margin: 0 4px 0 0;
}

/* line 211, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.tabs li a {
  float: left;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
  background: #ddd;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: none;
}

/* line 227, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.tabs li a:hover,
nav.tabs li a:focus {
  background: #ccc;
}

/* line 231, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.tabs li a:active {
  background: #bbb;
}

/* line 235, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.tabs li.active a {
  font-weight: bold;
  color: #222;
  background: #fff;
  border: 1px solid #222;
  border-bottom: none;
}

/*MAIN NAV*/
/* line 245, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.mainnav {
  float: right;
  padding: 20px;
}

/* line 250, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background: #4c8fec url(../images/menu-icon.png) center;
}

/* line 257, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.mainnav ul {
  list-style: none;
}

/* line 261, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.mainnav li {
  display: inline-block;
  float: left;
  padding: 10px;
}

/*BREADCRUMB*/
/* line 269, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.breadcrumb {
  font-size: 14px;
  color: #3A8EE2;
}

/* line 274, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.breadcrumb a {
  margin: 0 5px;
  text-decoration: none;
}

/* line 279, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.breadcrumb a:first-child {
  margin-left: 0;
}

/* line 284, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.breadcrumb a:hover,
nav.breadcrumb a:focus {
  color: #222;
}

/* line 288, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.breadcrumb a:active {
  color: #666;
}

/* line 292, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.breadcrumb strong {
  margin-left: 5px;
  font-weight: bold;
  color: #222;
}

/*PAGINATION*/
/* line 300, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.page ul li {
  display: inline;
  margin: 0 4px 0 0;
}

/* line 305, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.page ul li a {
  color: #222;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0;
}

/* line 316, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.page ul li a:hover,
nav.page ul li a:focus {
  background: #f0f0f0;
  border-color: #ccc;
}

/* line 321, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
nav.page ul li a:active {
  background: #fff;
  border-color: #ddd;
}

/*FEEDBACK*/
/* line 328, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.feedback {
  padding: 20px 20px 10px;
  margin-bottom: 20px;
}

/* line 333, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.feedback a {
  color: #222;
}

/* line 337, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.success {
  background-color: #bdd9a9;
}

/* line 341, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.failure {
  background-color: #ffb499;
}

/* line 345, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.generic {
  background-color: #ffdf9f;
}

/*DIALOG BOX*/
/* line 351, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 300px;
  margin: -150px 0 0 -150px;
  background-color: #fff;
  border: 2px solid #ddd;
  padding: 20px;
  z-index: 10;
  text-align: center;
}

/* line 364, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: 9;
}

/* line 374, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
.dimmed {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  filter: blur 4px;
}

/*TOOLTIP*/
/* line 382, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
a.tooltips {
  position: relative;
  display: inline;
}

/* line 386, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
a.tooltips span {
  position: absolute;
  width: 250px;
  color: #222;
  background: #fff;
  border: 2px solid #ddd;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
  padding: 15px 15px 5px;
  text-align: left;
}

/* line 398, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
a.tooltips span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15%;
  margin-left: -12px;
  width: 0;
  height: 0;
  border-bottom: 12px solid #DDDDDD;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}

/* line 409, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15%;
  margin-left: -9px;
  width: 0;
  height: 0;
  border-bottom: 9px solid #FFFFFF;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}

/* line 420, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  top: 35px;
  margin-left: -150px;
  z-index: 999;
}

/*RESPONSIVE*/
/*800PX & BELOW*/
@media screen and (max-width: 800px) {
  /* line 434, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  header, section {
    padding: 50px 0 0;
  }

  /* line 437, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  footer {
    padding-bottom: 0;
  }

  /* line 441, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  section {
    border-bottom: 1px solid #ddd;
  }

  /* line 445, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  #desktop {
    display: none;
  }

  /* line 446, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  #tablet {
    display: inline;
  }

  /*#desktop {
  	background-color: #fff;
  	color: #888;
  }
  
  #tablet {
  	background-color: #aaa;
  	color: #fff;
  }*/
  /* line 459, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  .leftcol,
  .rightcol {
    width: 100%;
    float: left;
  }

  /* line 464, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  .leftcol {
    padding-bottom: 25px;
  }

  /* line 465, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  .rightcol {
    padding-bottom: 75px;
  }
}
/*500PX & BELOW*/
@media screen and (max-width: 500px) {
  /* line 474, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  .container {
    padding: 10px;
  }

  /*#tablet {
  	background-color: #fff;
  	color: #888;
  }
  
  #mobile {
  	background-color: #aaa;
  	color: #fff;
  }*/
  /* line 486, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  #tablet {
    display: none;
  }

  /* line 487, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  #mobile {
    display: inline;
  }

  /*COLOURS*/
  /* line 491, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  .color-block {
    width: 100%;
  }

  /*MAIN NAV*/
  /* line 497, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  #menu-icon {
    display: inline-block;
  }

  /* line 501, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  nav.mainnav {
    float: left;
    padding: 0;
    width: 100%;
  }

  /* line 507, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  nav.mainnav ul, nav.mainnav:active ul {
    display: none;
    position: relative;
    padding: 20px;
    background: #ddd;
    width: 100%;
  }

  /* line 515, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  nav.mainnav li {
    display: block;
    text-align: left;
    padding: 10px;
    margin: 0;
    float: none;
  }

  /* line 523, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  nav.mainnav:hover ul {
    display: block;
  }

  /*TABS*/
  /* line 529, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  nav.tabs li {
    float: none;
  }

  /* line 533, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  nav.tabs li a {
    display: block;
    width: 100%;
    border: 1px solid #aaa;
    border-bottom: none;
  }

  /*FEEDBACK*/
  /* line 542, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_guide.scss */
  .feedback {
    padding: 10px 10px 5px;
  }
}
/* line 1, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.baseline {
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: url("../../images/baseline.png") repeat;
  opacity: 0.2;
  z-index: 10;
}

/*grid setup*/
/* line 14, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 19, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* line 26, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.row div:last-of-type {
  padding-right: 0;
}

/* line 31, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.gutter {
  padding: 10px;
}

/* line 35, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.gutter > [class*='col']:last-of-type {
  padding-right: 10px;
}

/* line 39, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.filler {
  padding: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large1 {
  width: 8.33333%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large2 {
  width: 16.66667%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large3 {
  width: 25%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large4 {
  width: 33.33333%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large5 {
  width: 41.66667%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large6 {
  width: 50%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large7 {
  width: 58.33333%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large8 {
  width: 66.66667%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large9 {
  width: 75%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large10 {
  width: 83.33333%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large11 {
  width: 91.66667%;
  float: left;
  padding-right: 10px;
}

/* line 45, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
.large12 {
  width: 100%;
  float: left;
  padding-right: 10px;
}

/* 900px and below */
@media (max-width: 900px) {
  /* line 62, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .small1 {
    width: 25%;
  }

  /* line 62, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .small2 {
    width: 50%;
  }

  /* line 62, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .small3 {
    width: 75%;
  }

  /* line 62, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .small4 {
    width: 100%;
  }
}
/* 760px and below */
@media (max-width: 760px) {
  /* line 72, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .col {
    padding-right: 0;
  }

  /* line 79, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .small1 {
    width: 100%;
    padding-right: 0;
  }

  /* line 79, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .small2 {
    width: 100%;
    padding-right: 0;
  }

  /* line 79, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .small3 {
    width: 100%;
    padding-right: 0;
  }

  /* line 79, /Users/user/Documents/Work/Webcredible/Internal/boilerplate/css/scss/_grid.scss */
  .small4 {
    width: 100%;
    padding-right: 0;
  }
}
/* line 8, scss/style.scss */
img {
  width: 100%;
}

/* line 12, scss/style.scss */
#dimensions {
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 10px;
  background-color: #fff;
}

/* line 22, scss/style.scss */
.baseline {
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: url("../../images/baseline.png") repeat;
  opacity: 0.2;
  z-index: 10;
}

/*ANNOTATIONS AND PAGE SETUP*/
/* line 35, scss/style.scss */
header, section {
  padding: 75px 0 100px;
}

/* line 39, scss/style.scss */
footer {
  padding: 100px 0 150px;
}

/* line 45, scss/style.scss */
header:after,
section:after,
footer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 51, scss/style.scss */
.annotation {
  color: #888;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
}

/* line 59, scss/style.scss */
.annotation a {
  color: #888;
}

/* line 63, scss/style.scss */
.annotation a:hover {
  color: #666;
}

/* line 67, scss/style.scss */
.sizes {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  top: 0;
  position: fixed;
  z-index: 10;
}

/* line 76, scss/style.scss */
.sizes li {
  float: left;
  padding: 2px 10px;
  border-right: 1px solid #aaa;
}

/* line 82, scss/style.scss */
#width {
  float: right;
  border-right: none;
  border-left: 1px solid #aaa;
}

/* line 89, scss/style.scss */
#tablet,
#mobile {
  display: none;
}
