
// TYPOGRAPHY ///////////////

$font-stack: 'Open sans', helvetica, arial, sans-serif;

// For the body main text 
$baseline: 1.5rem;

// this is the typographic scale. Change it and all the headers will adapt accordingly.
$scale: 1.414;



// COLOUR ///////////////

$primary-color: #222;
$secondary-color: #333;
$accent-color: #344556;



// GRID ///////////////

$large-column-number: 12;
$small-column-number: 4;
$gutter: 10px;
$max-width: 1000px;