.baseline {
  top: 0;
  bottom: 0;
  width:100%;
  position: absolute;
  background: url("../../images/baseline.png") repeat;
  opacity: 0.2;
  z-index: 10;
}


/*grid setup*/

.container {
    max-width: $max-width;
    margin: 0 auto;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  div:last-of-type {
    padding-right: 0;
  }
}

.gutter {
  padding: $gutter;
}

.gutter > [class*='col']:last-of-type {
  padding-right: $gutter;
}

.filler {
  padding: $gutter;
}

// generates X number of LARGE classes for the grid //
@for $i from 1 through $large-column-number {
  .large#{$i} { 
      width: 100% / $large-column-number * $i; 
      float: left;
      padding-right: $gutter;
  }
}


// MEDIA QUERIES

/* 900px and below */

@media (max-width:900px) {


  // generates X number of SMALL classes for the grid //
  @for $i from 1 through $small-column-number {
    .small#{$i} { width: 100% / $small-column-number * $i; }
  }


}

/* 760px and below */

@media (max-width:760px) {

  .col {
    padding-right: 0;
  }

  // generates X number of SMALL classes, each one with 100% width //
  @for $i from 1 through $small-column-number {

    .small#{$i} {
      width: 100%;
      padding-right: 0;
    }
  }


}

