/*****STYLE GUIDE STARTS HERE*****/

/*COLOURS*/

.color-block {
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
	width: 160px;
	height: 160px;
	margin: 0 5px 10px 0;
	padding: 5px;
	color: #fff;
}

#color1 {
	background-color: #3A8EE2; 
}

#color2 {
	background-color: #ddd; 
}

#color3 {
	background-color: #222; 
}

/*IMAGES*/

img {
	width: 100%;
}

img.thumbnail {
	width:33.333%;
	display: inline-block;
	padding: 0 10px 10px 0;
}



/*LISTS*/

ul.list,
ul.list > li {
	list-style-type: disc!important;
	list-style-position: outside;
	margin-left: 20px;
}

ol.list,
ol.list > li {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 20px;
}

/*FORMS*/

form fieldset {
	margin: 0 0 25px 0;
	font-size: inherit;
	}	

form fieldset.form-actions {
	margin: 0;
	}

form fieldset label {
	display: block;
	margin: 0 0 5px 0;
	font-weight: bold;
	}

form fieldset.check label {
	display: inline;
	font-weight: normal;
	}

form fieldset.radio ul li label {
	display: inline;
	font-weight: normal;
	}

form fieldset input.form-text,
form fieldset textarea,
form fieldset select  {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	display: block;
	width: 100%;
	max-width: 320px;
	padding: 10px;
	font-size: 16px;
	border: 2px solid #ddd;
	background: #FFF;
	border-radius: 0;
	}

form fieldset input.form-text:focus,
form fieldset textarea:focus {
	border: 2px solid #3A8EE2;
	background: #fff;
	outline: none;
	}

form fieldset textarea {
	height: 200px;
	resize: vertical;
	}

form fieldset.radio ul {
	margin-top: 5px;
	}

form fieldset.radio ul li {
	margin: 0 0 5px 0;
	}

form fieldset.radio ul li:last-child {
	margin: 0;
	}

form fieldset p.form-help {
	margin: 5px 0 0 0;
	font-size: 12px;
	color: #aaa;
	}

/*ERROR*/

form fieldset input.error,
form fieldset select.error {
	border: 2px solid #FF4500;	
}	

form fieldset p.form-help.error {
	color: #FF4500;
}

/*SEARCH*/

form fieldset input.search {
	border: 2px solid #222;	
	display: inline-block;
}

form fieldset input[type="submit"] {
	display: inline-block;
	color: #fff;
	background-color: #222;
	padding: 11px 13px 12px;
	font-size: 16px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin-left: -4px;
}	

form fieldset input[type="submit"]:hover {
	cursor: pointer;
	background-color: #3A8EE2;
}	

/*BUTTONS*/

.button {
	font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	padding: 15px 25px;
	background-color: #ddd;
}

.button:hover {
	cursor: pointer;
	color: #fff;
	background-color: #3A8EE2;
}

.button:active,
.button:focus {
	outline: none;
}

.button:active {
	background-color: #225587;
}

.primary {
	color:#fff;
	background-color:#222;
}

.disabled {
	opacity: 0.4;	
}

.disabled:hover {
	background-color: #ddd;
	color: #222;
	cursor: default;
}


/*TABS*/

nav.tabs li {
	float: left;
	margin: 0 4px 0 0;
	}

nav.tabs li a {
	float: left;
	padding: 10px 15px;
	text-decoration: none;
	color: #333;
	background: #ddd;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none;
	}

nav.tabs li a:hover,
nav.tabs li a:focus {
	background: #ccc;
	}

nav.tabs li a:active {
	background: #bbb;
	}

nav.tabs li.active a {
	font-weight: bold;
	color: #222;
	background: #fff;
	border: 1px solid #222;
	border-bottom: none;
	}	

/*MAIN NAV*/

nav.mainnav {
	float: right;
	padding: 20px;	
}

#menu-icon {
	display: hidden;
	width: 40px;
	height: 40px;
	background: #4C8FEC url(../images/menu-icon.png) center;
}

nav.mainnav ul {
	list-style: none;
}

nav.mainnav li {
	display: inline-block;
	float: left;
	padding: 10px
}

/*BREADCRUMB*/

nav.breadcrumb {
	font-size: 14px;
	color: #3A8EE2;
	}

nav.breadcrumb a {
	margin: 0 5px;
	text-decoration: none;
	}

nav.breadcrumb a:first-child {
	margin-left: 0;
	}

nav.breadcrumb a:hover,
nav.breadcrumb a:focus {
	color: #222;
	}

nav.breadcrumb a:active {
	color: #666;
	}

nav.breadcrumb strong {
	margin-left: 5px;
	font-weight: bold;
	color: #222;
	}				

/*PAGINATION*/

nav.page ul li {
	display: inline;
	margin: 0 4px 0 0;
	}

nav.page ul li a {
	color: #222;
	padding: 10px 15px;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #ddd;
	background: #fff;
	border-radius: 0;
	}

nav.page ul li a:hover,
nav.page ul li a:focus {
	background: #f0f0f0;
	border-color: #ccc;
	}

nav.page ul li a:active {
	background: #fff;
	border-color: #ddd;
	}				

/*FEEDBACK*/

.feedback {
	padding: 20px 20px 10px;
	margin-bottom: 20px;
}

.feedback a {
	color: #222;
}

.success {
	background-color: #bdd9a9;
}

.failure {
	background-color: #ffb499;
}

.generic {
	background-color: #ffdf9f;
}

/*DIALOG BOX*/

.dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 300px;
	margin: -150px 0 0 -150px;
	background-color: #fff;
	border: 2px solid #ddd;
	padding: 20px;
	z-index: 10;
	text-align: center;	
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	z-index: 9;
}

.dimmed {
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	filter: blur (4px);
}

/*TOOLTIP*/

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width: 250px;
  color: #222;
  background: #fff;
  border: 2px solid #ddd;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
  padding: 15px 15px 5px;
  text-align: left;
}
a.tooltips span:before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15%;
  margin-left: -12px;
  width: 0; height: 0;
  border-bottom: 12px solid #DDDDDD;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 15%;
  margin-left: -9px;
  width: 0; height: 0;
  border-bottom: 9px solid #FFFFFF;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  top: 35px;
  margin-left: -150px;
  z-index: 999;
}

/*RESPONSIVE*/

/*800PX & BELOW*/

@media screen and (max-width:800px) {

header, section {
	padding: 50px 0 0;	
}
footer {
	padding-bottom: 0;
}

section {
	border-bottom: 1px solid #ddd;
}

#desktop {display: none;}
#tablet {display: inline;}

/*#desktop {
	background-color: #fff;
	color: #888;
}

#tablet {
	background-color: #aaa;
	color: #fff;
}*/

.leftcol,
.rightcol {
	width: 100%;
	float:left;
}

.leftcol {padding-bottom: 25px}
.rightcol {padding-bottom: 75px}


}

/*500PX & BELOW*/

@media screen and (max-width:500px) {

.container { padding:10px;}

/*#tablet {
	background-color: #fff;
	color: #888;
}

#mobile {
	background-color: #aaa;
	color: #fff;
}*/

#tablet {display: none}
#mobile {display: inline}

/*COLOURS*/

.color-block {
	width: 100%;
}

/*MAIN NAV*/

#menu-icon {
	display:inline-block;
}

nav.mainnav {
	float:left;
	padding: 0;
	width: 100%;
}

nav.mainnav ul, nav.mainnav:active ul { 
	display: none;
	position: relative;
	padding: 20px;
	background: #ddd;
	width: 100%;
}

nav.mainnav li {
	display: block;
	text-align: left;
	padding: 10px;
	margin: 0;
	float: none;
}

nav.mainnav:hover ul {
	display: block;
}

/*TABS*/

nav.tabs li {
	float: none;
}

nav.tabs li a {
	display: block;
	width: 100%;
	border: 1px solid #aaa;
	border-bottom: none;
}

/*FEEDBACK*/

.feedback {
	padding: 10px 10px 5px;
}



}