/*reset*/

*, 
*:after, 
*:before {
    padding:0;
    margin:0;
    border:0;
    offset:0;
    vertical-align:baseline;
    list-style:none;
    text-rendering:optimizeLegibility;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing:antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

