// TYPOGRAPHY PARTIAL
html {
	font-size: 62.5%;
}
body {
	font-family: $font-stack;
	font-size: $baseline;
	line-height: 1.3;
	color: $primary-color;
}

p {
	margin-bottom: 1.3rem;
}

// HEADINGS ///////////////////

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: ((($baseline * $scale) * $scale) * $scale) * $scale;
}

h2 {
	font-size: (($baseline * $scale) * $scale) * $scale;
}

h3 {
	font-size: ($baseline * $scale) * $scale;
}

h4 {
	font-size: $baseline * $scale;
}

small, .font_small {font-size: 0.707em;}


// QUOTES /////////////////

blockquote {
	padding: 10px 15px;
	font-style: italic;
	border-left: 5px solid #222;
}


// LINKS //////////////////


a {
  color: $secondary-color;
}

a:hover {
	color: $secondary-color;
	text-decoration: none;
	border-bottom: 1px solid;
}


::selection {
background-color: #3a8ee2;
color: #fff;	
}

::-moz-selection {
background-color: #3a8ee2;
color: #fff;
}
