@import 'config';
@import 'reset';
@import 'typography';
@import 'guide';
@import 'grid';


img {
  width: 100%;
}

#dimensions {
  font-size: 1.4rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2px 10px;
  background-color: #fff;
}


.baseline {
  top: 0;
  bottom: 0;
  width:100%;
  position: absolute;
  background: url("../../images/baseline.png") repeat;
  opacity: 0.2;
  z-index: 10;
}


/*ANNOTATIONS AND PAGE SETUP*/

header, section {
	padding: 75px 0 100px;	
}

footer {
	padding: 100px 0 150px;
}

header:after,
section:after,
footer:after {
	content: "";
	display: table;
	clear: both;
}

.annotation {
	color: #888;
	font-family: 'Inconsolata', monospace; 
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5em;  
}

.annotation a {
	color: #888;
}

.annotation a:hover {
	color: #666;
}

.sizes {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #aaa;
	top: 0;
	position: fixed;
	z-index: 10;
}

.sizes li {
	float: left;
	padding: 2px 10px;
	border-right: 1px solid #aaa;
}

#width {
	float:right;
	border-right: none;
	border-left: 1px solid #aaa;
}

#tablet,
#mobile {
	display:none;
}

